body{
  margin: 0;
  background: #FAFAD2;
  font-family: sans-serif;
}
/*
h1{
  align-content: center;
  font: white;
}

#titletext{
  background-color: #008B8B;
  font-size: 20px;
  padding: 20px;
}

#form{
  margin: 10px;
  background: green;
}
*/